footer {
  // background: rgba(60, 120, 180, 0.5);
  background-color: blue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 10vh;
  position: relative;
  box-sizing: border-box;
  padding-top: 20px;
}
.background-info {
  text-align: left;
  width: 20%;
  margin-left: 10px;
}

.background-info-location {
  font-size: 1.5rem;
  color: #ffffff;
}

.background-info-photographer {
  font-size: 1rem;
  color: #ffffff;
}

.quotes-info {
  display: flex;
  flex-flow: column;
  text-align: center;
  width: 250%;
  margin-left: 100px;
}

.quotes-info-phrase {
  font-size: 1.6rem;
  color: #ffffff;
  margin-bottom: 10px;
}

.quotes-info-author {
  font-size: 1rem;
  color: #ffffff;
}

.todo-list-btn {
  color: #ffffff;
  font-size: 1.6rem;
  position: absolute;
  right: 0;
  bottom: 0;
}

.todo-list-popup {
  color: #ffffff;
  text-align: right;
  width: 30%;
}
