header {
  background-color: tomato;
  height: 10vh;
  box-sizing: border-box;
  // padding: 20px;
}

.weather {
  width: 140px;
  float: right;
  cursor: pointer;
  text-align: center;
  color: #fff;

  .weather-info {
    display: flex;
    justify-content: center;
    align-items: center;

    .weather-info-icon {
      width: 40px;
      height: 40px;
    }

    .weather-celsius {
      font-size: 2.4rem;
    }
  }

  .weather-location {
    font-size: 1.4rem;
  }
}
