.modal {
  background: #000;
  color: #fff;
  opacity: 0.8;
  border-radius: 5px;
  // display: none;
  opacity: 0;

  &.is-active {
    display: block;
    opacity: 100;
    background-color: #00000090;
    // transform: translate3d(0, 0, 0);
    transition: all 1s;
  }
}

.weather-popup {
  position: absolute;
  top: 80px;
  right: 8px;
  box-sizing: border-box;
  padding: 20px;

  .weather-popup-dest-location {
    font-size: 2rem;
  }

  .weather-popup-dest-info {
    font-size: 1.6rem;
    color: #aaa;
  }

  // .weather-popup-status-icon {
  // }

  .weather-popup-status-celsius {
    font-size: 5rem;
    font-weight: 700;
  }

  .weather-popup-status {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.todo-list-btn {
  cursor: pointer;
  position: absolute;
  bottom: 30px;
  right: 30px;
  font-weight: 900;
}

.todo-list-container {
  position: relative;
  right: 80px;
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  // justify-content: flex-end;
  justify-content: flex-start;
  cursor: pointer;
  width: 1000px;
}

.todo-list-popup {
  width: 100%;
  min-height: 40px;
  position: absolute;
  left: 0%;
  bottom: 120%;
  padding: 20px;
  
}

.todo-list-popup-day {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 2rem;
}

.todo-list-content {
  margin: 0;
  padding: 20px 0;
  list-style-type: none;
}

.todo-list-item {
  font-size: 1.3rem;
  margin: 5px;
  display: flex;
  width: 80%;
}

.todo-list-checkbox {
  vertical-align: -1px;

}

.todo-list-item > label {
  margin-left: 10px;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: normal;
  line-height: 20px;

}

.todo-list-remove {
  position: absolute;
  right: 10%;
}

.todo-list-input {
  width: 100%;
  color: #fff;
  outline-style: none;
  border: 0;
  border-bottom: 1px solid #fff;
  background-color: rgba(0, 0, 0, 0);
  max-width: 100%;
}

.todo-list-content li input[checked] + label {
  text-decoration: line-through;
  color: #797777;
}